.modal{
    width: 100vh;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &__inner{
        width: 60px;
        height: auto;
        background-color: #fff;
        padding: 20px 0;
        box-sizing: border-box;
    }
}