.comments{
    height: 89vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    padding-bottom: 0;
    &-content{
        border: 2px solid;
        padding: 5px 10px;
        margin-top: 10px;

    }
}
